* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
.logo {
  margin: 20px;
  height: 40px;
  width: 40px;
}
h1 {
  margin: 20px;
  color: white;
}
.header {
  height: 80px;
  display: flex;
  background-color: darkred;
  margin-bottom: 50px;
}
.header-buttons {
  margin: 30px 50px;
  padding: 10px;
  background-color: darkred;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.header-buttons:hover {
  background-color: lightcoral;
  transition: 1s;
}
.dashboard {
  width: 600px;
}

.form {
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 420px;
  height: 450px;
  background-color: green;
}

.product-box {
  margin: 25px;
  height: 200px;
  width: 500px;
  border-radius: 8px;
  background-color: darkred;
}
.product-inner-all {
  display: flex;
}

.product-name {
  font-size: 20px;
  margin-top: 20px;
}
button {
  border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: green;
}
.delete {
  margin-top: 90px;
  margin-right: 150px;
  margin-left: 6px;
}

.edit {
  border-radius: 5px;
  padding: 5px 12px; 
}
.inventory-buttons {
  background-color: darkred;
  color: white;
  border: none;
  margin: 4px;
  font-size: 12px;
}
/* .product-inner-text {
} */
img {
  margin: 10px;
  height:160px;
  width: 210px;
}
input {
  margin: 10px;
}
