* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  height: 50px;
  background-color: darkred;
  color: white;
}

.dashboard {
  width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 400px;
  height: 400px;
  background-color: green;
}

.product-box {
  margin: 15px;
  height: 200px;
  width: 500px;
  border-radius: 8px;
  background-color: darkred;
}
.product-inner-all {
  display: flex;
}
/* .product-inner-text {
} */
img {
  margin: 10px;
  height:160px;
  width: auto;
}
